{
    "arrowParens": "always",
    "bracketSpacing": true,
    "embeddedLanguageFormatting": "auto",
    "htmlWhitespaceSensitivity": "css",
    "insertPragma": false,
    "jsxBracketSameLine": false,
    "jsxSingleQuote": false,
    "printWidth": 100,
    "proseWrap": "preserve",
    "quoteProps": "as-needed",
    "requirePragma": false,
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "vueIndentScriptAndStyle": false,
    "defaultFormatter": "esbenp.prettier-vscode",
    "formatOnSave": true,
    "typescript.updateImportsOnFileMove.enabled": "always",
    "tabSize": 4,
    "detectIndentation": true,
    "insertSpaces": true
}
